/**
 * @name translucent
 * @version 1.0.6.3
 * @description A translucent/frosted glass Discord theme
 * @author CapnKitten
 * @website http://github.com/CapnKitten
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Translucence/css/source.css
 * @donate https://paypal.me/capnkitten
 * @invite jzJkA6Z
 * @BDEditor Translucence
*/

@import url('https://capnkitten.github.io/BetterDiscord/Themes/Translucence/css/source.css');
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');
@import url('https://nyri4.github.io/Discolored/main.css');

:root {
  --app-bg: transparent;
  --app-blur: 10px;
  --app-margin: 24px;
  --app-radius: 8px;
  --accent-hue: 210;
  --accent-saturation: 89%;
  --accent-lightness: 44%;
  --accent-opacity: 1;
  --sidebar-color: rgb(58,158,239,0.07);
  --main-content-color: rgb(0,56,101,0.1);
  --undefined: 0;
  --interactive-normal: #FFFFFF;
  --interactive-hover: #FFF6F6;
  --interactive-active: #03A9F4;
  --interactive-muted: #353535;
  --undefined: 0;
  --background-modifier-hover: rgb(0,0,0,0.7);
  --background-modifier-selected: rgba(255,255,255,0.125);
  --message-color: rgb(3,169,244,1);
  --message-radius: 2px;
  --message-padding-top: 8px;
  --message-padding-side: 8px;
  --undefined: 0;
  --reply-hue: 226;
  --reply-saturation: 77%;
  --reply-lightness: 61%;
  --reply-opacity: 1;
  --textarea-color: 255,255,255;
  --textarea-alpha: 0.19;
  --textarea-alpha-focus: 0.15;
  --textarea-radius: 22px;
  --card-color: rgb(3,169,244,1);
  --card-color-hover: rgba(0,0,0,0.5);
  --card-color-select: rgba(0,0,0,0.7);
  --button-height: 32px;
  --button-padding: 0 16px;
  --button-radius: 16px;
  --HSL-server-icon-size: 45px;
  --HSL-server-spacing: 10px;
}

/* Any custom CSS below here */


